node_modules
authentication-lambda/dist
authentication-lambda/lambda.zip
authentication-lambda/coverage

infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform

.DS_store